@model MVC_Eventos.Models.EventosModel

@{
    ViewBag.Title = "Detalles Evento";
}

    <br />

<div>
    <h4>EventosModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipanteEvento)
        </dt>

        <dd>
            @foreach (var part in Model.ParticipanteEvento)
            {
                @Html.DisplayFor(modelItem => part.Participante) @(" ")
            }
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Volver", "Index")
</p>
